<!-- <div class="col-md-5">
  <form class="form-horizontal">
    <label for="value">Current pain:</label>
    {{input value=entry.value id='value'}}

    <button {{action 'save' entry}} id='submit'>Save</button>
  </form>
</div> -->
