<div class="col-md-5">
  <form class="form-horizontal">
    <label for="diagnosis">Diagnosis:</label>
    {{simple-select
      content=allDiagnoses
      optionValuePath="id"
      optionLabelPath="diagnosis"
      selection=currentlySelectedObject
      model.diagnosisValue=currentlySelectedValue
      prompt="Please select diagnosis"}}
    <label for="value">Current pain:</label>
    {{input value=model.entryValue id='entryValue'}}

    <button {{action 'save' model}} id='submit'>Save</button>
  </form>
</div>
