{{public/public-nav-bar}}
<!-- Begin Jumbotron -->
	<div id="home" class="jumbotron jumbotron-register">
		<div id="particles-js"></div><!-- /.particles div -->
		<div class="container center-vertically-holder">
			<div class="center-vertically">
				<div class="col-sm-7 col-lg-6 mt40-xs">
					<h1 class="mb30 no-margin-top scaleReveal">
						Take control of your chronic illness with <strong>Sparrow</strong>.
					</h1>
					<p class="bottomReveal">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras est urna, imperdiet eget sem at, pellentesque cursusiz elit. Etiam id ante et elit interdum sollicitudin.</p>
					<p class="mb30 bottomReveal">Lorem ipsum dolor sit amet, consectet adipiscing elit. Cras est urna, imperd eget sem atez.</p>
				</div>

      {{public/registration-form}}
			</div><!-- /.vertical center -->
		</div><!-- /.container -->
	</div>
	<!-- End Jumbotron -->
