<h4>View & Edit Recent Logs</h4>
<table class='table table-hover'>
  <tr>
    <th>Date</th>
    <th>Diagnosis</th>
    <th>Pain Level</th>
  </tr>
  <tbody>
  {{#each model as |entry|}}
    <tr>
      <td id='time'>{{moment-format entry.time 'MMMM Do YYYY, h:mm:ss a'}}</td>
      <td id='diagnosis'>{{edit-diagnosis-entries saveChanges=(action "update") entry=entry}}</td>
      <td id="value">{{edit-entries saveChanges=(action "update") entry=entry}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>
{{outlet}}
