<h4>View & Edit Recent Logs</h4>
<table>
  <tr>
    <th>Date</th>
    <th>Diagnosis</th>
    <th>Pain Level</th>
  </tr>
  {{#each model as |entry|}}
    <tr>
      {{show-entries saveChanges=(action "update") entry=entry}}
    </tr>
  {{/each}}
</table>
{{outlet}}
