<h3>Recent Health Trends: </h3>
<div class="chart-container">
  {{time-series-chart
    lineData=timeSeriesData
    selectedInterval=interval
    yAxisFromZero=fromZero
    selectedSeedColor=color
    hasXAxisTitle=xAxisTitle
    hasYAxisTitle=yAxisTitle
    xValueDisplayName=xDisplayName
    yValueDisplayName=yDisplay
  }}
</div>
{{outlet}}
